.global-section-card{
  max-width: 1240px;
  margin: auto;
  background-color: #F6F6F6;
  border-radius: 25px;
}

.global-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.card-cover{
  pointer-events: stroke;
  height: 340px;
  max-width: 340px;
  width: 100%;
  left: 0px;
  top: 0px;
  border-radius: 10px;
  object-fit: cover;
}
.card:hover{
  transform: scale(1.1); 
}

.card-title{
  margin-top: -60px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  margin-left: 15px;
  margin-right: 15px;
}

.card{
  margin: 30px;
  height: 340px;
  max-width: 340px;
  width: 100%;
  left: 0px;
  top: 0px;
  border-radius: 10px;
}


@media screen and (max-width: 878px) {
	.global-section-card {
		background-color: white;
	}
  .card{
    margin: 0px;
    height: 280px;
  }
  .card-cover{
    height: 255px;
  }
  .global-card{
    padding: 0PX;
  }
}