body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/*Responsive*/
/* @media screen and (max-width: 1240px) {
	#root:not(.footer){
    margin: 20px;
  }
} */
